<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jabber">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />

	<supports-screens android:anyDensity="true" android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true" />

	<uses-feature android:name="android.hardware.camera2.full" android:required="true" />
	<uses-feature android:name="android.hardware.camera.any" android:required="true" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/appicon"
		android:label="@string/app_name"
		android:resizeableActivity="true"
		android:screenOrientation="portrait">

		<activity
			android:name=".SplashScreen"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".LoginScreen"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".RegisterScreen"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".HomeMenu"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ForgotPassword"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="Forgot Password"
			android:parentActivityName=".LoginScreen"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme" />
		<activity
			android:name=".TermsOfUse"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".PrivacyPolicy"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".GroupChat"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:parentActivityName=".HomeMenu"
			android:theme="@style/AppTheme" />
		<activity
			android:name=".AddContacts"
			android:label="Select Contact"
			android:parentActivityName=".HomeMenu"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme" />
		<activity
			android:name="com.facebook.FacebookActivity"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/app_name" />
		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/facebook_app_id" />
		<activity android:name=".Messages"
			android:parentActivityName=".HomeMenu"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme" />
	</application>
</manifest>
