<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jabber">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera2.full" 	android:required="true" />
	<uses-feature android:name="android.hardware.camera.any" android:required="true" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

	<application android:icon="@drawable/appicon" android:label="@string/app_name"
		android:allowBackup="true"
		android:resizeableActivity="true"
		android:screenOrientation="portrait" >
		<activity android:name=".SplashScreen" android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".LoginScreen" android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
		<activity
			android:name=".RegisterScreen" android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
		<activity
			android:name=".HomeMenu" android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
		<activity android:name=".ForgotPassword" android:label="Forgot Password"
			android:parentActivityName=".LoginScreen"
			android:theme="@style/AppTheme" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
		<activity
			android:name=".TermsOfUse"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".PrivacyPolicy"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".GroupChat"
			android:parentActivityName=".HomeMenu"
			android:theme="@style/AppTheme" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
		<activity
			android:name=".AddContacts"
			android:label="Select Contact"
			android:parentActivityName=".HomeMenu"
			android:theme="@style/AppTheme" />
		<activity
			android:name="com.facebook.FacebookActivity"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
			android:label="@string/app_name" />
		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/facebook_app_id" />
	</application>
</manifest>
